In [48]:
import pandas as pd

In [60]:
data = pd.read_csv('/content/drive/MyDrive/internship-test2/input/question-1/main.csv')

In [50]:
data.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

generating a decades column by Floor division using this formula = (Year //10) * 10

In [61]:
data['Decades'] = (data.Year//10)*10
data.drop(['Year', 'Total'], axis = 1, inplace= True)

Creating a varialble "col" which consist of all rows of columns from "Population to "Vehicle_Theft"

In [62]:
col = data.loc[: , 'Population' : 'Vehicle_Theft']

Created a Dictionary "test" in which i wanted to do the sum of all columns which are defined in variable "col" but in Population column i only want the last value.

In [63]:
test = { x : 'sum' for x in col}
test['Population'] = 'last'

Finally grouping it by decades column using "agg" which allows us to do multiple operations.

In [66]:
result=data.groupby('Decades').agg(test)
result

         Population   Violent  ...  Larceny_Theft  Vehicle_Theft
Decades                        ...
1960      201385000   4134930  ...       26547700        5292100
1970      220099000   9607930  ...       53157800        9739900
1980      248239000  14074328  ...       72040253       11935411
1990      272690813  17527048  ...       77679366       14624418
2000      307006550  13968056  ...       67970291       11412834
2010      318857056   6072017  ...       30401698        3569080

[6 rows x 10 columns]

In [67]:
result.to_csv('main.csv')